<html>
  <head>

  </head>
  <title> Upload Image</title>
  <body> 

    <div class="container">
                  <div class="row">
                      <%if (record.length >0){ %>
                        <% record.forEach(function(row){ %>
                 <div class="col-md-4">
                   First Name:<%= row.Firstname %> <br>
                   Last Name:<%= row.Lastname %>  <br>
                    Email:<%= row.Email %><br>
                   Phone Number:<%= row.PhoneNumber %> <br>
                   Address:<%= row.Address %><br>
                   Profile Photo : <img src="./profile/<%= row.ProfilePhoto %>" alt="image" style="width:10%;height:10%;margin:5px auto;"><br>
                 </div>
                 <% }) }%>
                    </div></div>


  </body>
</html>